body { 
    margin: 0;   
    scroll-behavior: smooth;
}

/*navbar*/
.navbar {
    padding: 15px 0px 20px 70px;
    position: absolute;
    color: rgb(52,57,63);
    width: 100%;
    z-index: 10;    
}   

.navbar-nav {
    padding-left: 350px;
    text-align: center;
}

#codo {
    width: 7%;
}

#comprarTickets {
    color: green;
}

/*primer contenedor */
.contenedor-1 {
	height: 700px;
    display: flex;
    flex-direction: column;    
    background-image: url(../imagenes/ba1.jpg);
    background-size: 100% 100%;
    background-color: #2D2C2B;
    background-blend-mode: soft-light;
    color: white;
    justify-content: center;  
    align-items: flex-end ;   
    padding-right: 100px;
    text-align: end;
        
}

#tickets {
    background-color: rgb(25,135,84);
    border-radius: 2px;
}
.btn {
    color: white;
    border: 1px solid white;    
}
.btn.btn-success {
    border: none;
}

.texto1 {
    width: 40%;    
}

/* segundo contenedor*/
.oradores {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oradores h6 {    
    margin-top: 15px;
    font-size: 11px;
    opacity: 0.7;
}

.oradores h1 {    
    font-size: 25px;
}

.contenedor-tarjetas {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    gap: 25px;
}

p.card-text {
    font-size: 11px;
}

h5.card-title {
    margin: 0px 0px 14px;
    font-size: 18px;
}

a.btn.btn-danger {
    padding: 0px;
    font-size: 11px;
    font-weight: bolder;
}
a.btn.btn-secondary {
    padding: 0px;
    font-size: 11px;
    font-weight: bolder;
}
a.btn.btn-info {
    padding: 0px;
    font-size: 11px;
    font-weight: bolder;
}
a.btn.btn-warning {
    padding: 1px;
    font-size: 11px;
    font-weight: bolder;
    color: black;
}

/*tercer contenedor*/
.contenedor-3 {
    display: flex;    
    flex-wrap: wrap;
    
}

.img {
    border: 1px solid white;  
}
.confBsAs {
    background-color: #2D2C2B;
    color: white;   
    border: 1px solid white;    
}

p.texto2 {
    padding: 0 8px 0 20px;
    width: 100%;
    font-size: 13px;
}

.confBsAs h2 {
    padding: 15px 0 0 20px;
}

.confBsAs button {    
    margin: 0 0 50px 18px;
    border: 1px solid white;

}

/*cuarto contenedor*/
form {
    max-width: 675px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;    
    align-items: center;    
    gap: 8px;
}

.contenedor-4 h6 {
    margin: 30px 0 0 0;
    font-size: 13px;
    opacity: 0.7;
}
.contenedor-4 h1 {
    margin: 0;
    font-size: 35px;
}

.contenedor-4 p {
    margin: 0;
    font-size: 15px;
    opacity: 0.9;
}

.contenedor-4 p span {
    border-bottom: 1px dotted;
}

div.col {
    width: 350px;    
}
.col input {
    padding: 2px 10px;
    margin-bottom: 5px;
}

textarea {
    padding: 5px 0px 0px 20px;
    resize: none; 
}

#span1 {
    align-self: flex-start;
    font-size: 12px; 
    opacity: 0.6;    
}    

.btn-enviar {
    background-color: rgb(150,201,62);
    color: white;
    width: -webkit-fill-available;
    height: 40px;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 20px;
}

/*footer*/
.contenedor-footer {
    display: flex;
    color: white;
    width: 100%;
    height: 80px;
    align-items: center;    
    display: inline-flex;
    justify-content: space-evenly;
    background-color: rgb(36, 67, 85);
    /*position: absolute;*/
}

.contenedor-footer a {
    text-decoration: none;
    color: white;
    width: min-content;
}

@media screen and (max-width: 576px) {
    .texto1 {
        width: 100%;    
    }
    .contenedor-1 {
        padding: 0 15px;
    }    
}
@media screen and (max-width: 680px) {    
    form {       
        margin-left: 10px;            
    }
    .contenedor-footer {
        zoom: 80%;
    }
}
@media screen and (max-width: 1199px) {    
    .navbar-nav {
        padding-left: 0;
        text-align: left;
    }    
}

